
.container {
    padding: 0 2rem;
    color: rgb(227, 144, 109);
  }

.alchemy_logo{
  margin: 0 200px;
  cursor: pointer;
  background: linear-gradient(140deg, rgb(205, 98, 52) 0%, rgb(220, 206, 20) 100%);
}
.centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-grow: 10;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 2rem 4rem 0.8rem 4rem;
}

  .header_container{
    /*display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: raw;
    margin-bottom: 1rem;
    padding: 2rem 4rem 0.8rem 4rem;
    justify-content: space-between;*/
    margin: 0 1000px;
    width: 100%;
    gap: 2rem;
  }


  .header_container h1{
    font-size: 64px;
    font-weight: bold;
  
  }
  .header_container p{
    font-size: 25;
    font-weight: bold;
    color: rgb(227, 144, 109);
  }
  
  .header_container h1 span{
    background: linear-gradient(140deg, rgb(205, 98, 52) 0%, rgb(220, 206, 20) 100%);
    background-clip: text;
    color: transparent;
  }

  .navbar {
    margin: 0 20px;
    margin-right: 200px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .main {
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

    margin-bottom: 0rem;
    min-height: 100vh;
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
  }
  
  .stakeContainer {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .textbox {
    padding: 5px;
  }
  
  .button {
    background: linear-gradient(140deg, rgb(235, 141, 101) 0%, rgb(216, 208, 93) 100%);
    font-size: 27;
    color: #000000;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  
  .button:hover {
    background-color: rgb(235, 141, 101) 0%;
  }

  .title a {
    color: #f213a4;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .header {
    display: flex;
    align-items: right;
    margin-left: 1000px;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    padding: 1rem 0;
  }

  .connect {
    margin-bottom: 2rem;
    width: 230px;
  }

  .description strong{
    margin-bottom: 1.5rem;
  
  }
  
  .description {
    margin-top: 3rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.1rem;
  }
  
  .code {
    background: #ffffff;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 350px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    background-color: rgb(235, 141, 101) 0%;
    color: #ffffff;
    border-color: rgb(205, 98, 52);
  }
  
  .card h2 {
    color: #ffffff;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    color: #ffffff;
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    color: #ffffff;
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      color: #ffffff;
      width: 100%;
      flex-direction: column;
    }
  }
  
  .card,
  .footer {
    border-color: #000000;
  }
  .code {
    background: #000000;
  }
  .logo img {
    filter: invert(1);
  }
  

  .input_box {
    padding: 10px;
    border: 1px solid #baa5a5d6;
    border-radius: 15px;
    transition: border-color 0.3s ease;
  }
  
  .input_box:focus {
    outline: none;
    border-color: rgb(235, 141, 101) 0%;
    box-shadow: 0 0 5px rgb(235, 141, 101) 0%;
  }

  .icons_container{
    color: rgb(205, 98, 52) 0%;
    display: flex;
    gap: 10rem;
    margin-bottom: .5rem;
  }


  .table {
    color: rgb(255, 255, 255) 0%;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
  
  
  .table th {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .table td {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .loginForm {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .main {
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header_container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .description {
    display: block;
    margin-bottom: 10px;
  }
  
  .input_box {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .button {
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
  }
  
  
  